<h4>List Products</h4>

<div>
    <input type="search" placeholder="Search" [(ngModel)]="searchKey"/>
</div>

<p>
    Search results for {{searchKey}}
</p>

<table>
    <thead>
        <tr class="header">
            <th>Index</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of products | productsFilter : searchKey; index as i; even as e; odd as o" 
                                                [ngClass]="{oddCls: o, evenCls: e}">
            <td>{{i}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name | uppercase}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price | currency : 'INR'}}</td>
        </tr>

    </tbody>
</table>
