<h4>Gadgets Application</h4>

<p>This is an example of using Services and Routes</p>

<div style="min-height: 100px; border: 1px solid red; margin: 10px;">
    <app-view-cart></app-view-cart>
</div>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="store">Store</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="cart">View Cart</a>
    </li>
</ul>



<div style="min-height: 400px; border: 1px solid blue;">
    <router-outlet></router-outlet>
</div>
